<html lang="es">
  <head>
    {{! tailwind }}
    <link href="/output.css" rel="stylesheet" />
    {{! tailwind }}
    <meta charset="UTF-8" />
    {{! mapbox }}
    <script
      src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"
    ></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
      rel="stylesheet"
    />

    {{! mapbox }}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
  </head>
  <body class="dark:text-white dark:bg-slate-800">
    <nav
      class="sticky top-0 dark:bg-slate-900 px-6 py-4 shadow-md flex items-center justify-between bg-white"
    >
      <div class="flex flex-row items-center">

        <a class="link" href="/">Inicio</a>

      </div>
      {{#if username}}
        <p>{{username}}</p>
      {{else}}
        <a href="/login" class="btn-primary">Iniciar Session</a>
      {{/if}}
    </nav>
    <div>

      {{{body}}}

    </div>
  </body>
</html>