<form
  class="center flex flex-col gap-2 w-1/5 shadow p-6 rounded-md bg-white dark:bg-[#222]"
  action="https://formsubmit.co/olmanmartinez99@gmail.com"
  method="post"
>
  <h1 class="text-3xl mb-4">Ayuda</h1>

  <input placeholder="Nombre" type="text" name="nombre" class="input" />
  <input placeholder="Celular/Telefono" type="phone" name="telefono" class="input" />
  <input placeholder="Correo Electronico" type="email" name="correo" class="input" />
  <label for="mensaje">Mensaje</label>
  <textarea id="mensaje"name="mensaje"></textarea>
  <button class="btn-primary">Enviar Mensaje</button>
  <a href="/" class="link-2">Intentar Mas tarde</a>
</form>