<form
  class="center flex flex-col gap-2 w-1/5 shadow p-6 rounded-md bg-white dark:bg-[#222]"
  action="/ayuda"
  method="post"
>
  <h1 class="text-3xl mb-4">Ayuda</h1>

  <input placeholder="Nombre" type="text" name="nombre" class="input" />
  <input placeholder="phone" type="email" name="telefono" class="input" />
  <input placeholder="Correo" type="email" name="correo" class="input" />
  <input placeholder="Mensaje" type="password" name="mensaje" class="input" />>
  <button class="btn-primary">Enviar Mensaje</button>
  <a href="/inicio" class="link-2">Intentar Mas tarde</a>
</form>