<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Typed.js</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet" />
    <link href="/footer.css" rel="stylesheet" />


</head>
<main>

    <img src="Img/taxi3.png" alt="">

    <div class="contenedor-texto">
        <!-- Forma #1 -->
        <h2 class="titulo">Elige Uber para movilizarte <br> a tu <span class="typed"></span></h2>
        <p></p>
        <a href="/login?tipo=Conductores" class="btn-link">Conductores</a>
        <a href="/login?tipo=Clientes" class="btn-link2">Cliente</a>
    </div>
</main>
<footer>

    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="/img/logo.jpg" alt="">
            </div>
            <div class="terms">
                <p>Somos tu mejor opción visita nuestra pagina y conoce todos los servicios que tenemos para ti</p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Viajes</h2>

            <a href="#">Ciudades</a>
            <a href="#">Aeropuertos</a>

        </div>

        <div class="box__footer">
            <h2>Productos</h2>
            <a href="#">Viaja</a>
            <a href="#">Conduce</a>
        </div>
    </div>

    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2022 <b>Unicah</b></p>
    </div>
</footer>




<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="/inicio.js"></script>