<main>
  <h1>Inicio</h1>
  {{nombre}}

  <h2>usuarios:</h2>
  <div class="custom-grid">
    {{#each users}}
      <div class="card">
        <h3>{{this.nombre}}</h3>
        <h4>{{this.correo}}</h4>
        <h4>Viajes:</h4>
        {{#each this.viajes}}
          <h4>Fecha viaje :{{this.fecha}}</h4>
        {{/each}}
      </div>
    {{/each}}

  </div>

</main>