<main>
  <form
    class="center flex flex-col gap-2 lg:w-1/5 shadow p-6 rounded-md bg-white dark:bg-[#333]"
    action="/login"
    method="post"
  >
    <h1 class="text-3xl mb-4">Login {{tipo}}</h1>
    <input type="text" name="tipo" value="{{tipo}}" hidden />
    <input
      required
      class="input"
      placeholder="Correo"
      type="email"
      name="correo"
    />
    <input
      required
      class="input"
      placeholder="Clave"
      type="password"
      name="clave"
    />
    <button class="btn-primary">Entrar</button>
    <a href="/registro?tipo={{tipo}}" class="link-2">Crear cuenta</a>
    <a href="#" class="link-2">Olvide mi contraseña</a>
  </form>
  {{#if error}}
    <p class="text-red-500 text-center">{{error}}</p>
  {{/if}}
</main>