<main>
  <form
    class="center flex flex-col gap-2 w-1/5 shadow p-6 rounded-md bg-white dark:bg-[#222]"
    action="/login"
    method="post"
  >
    <h1 class="text-3xl mb-4">Login</h1>
    <input class="input" placeholder="correo electrónico" type="email" name="correo" required/>
    <input class="input" placeholder="contraseña" type="password" name="clave" required/>
    <button class="btn-primary">Entrar</button>
    <a href="#" class="link-2">Olvide mi contraseña</a>
  </form>
</main>