<form
  id="form"
  class="center flex flex-col gap-2 lg:w-1/5 shadow p-6 rounded-md bg-white dark:text-black dark:bg-white"
  action="/registro"
  method="post"
>
  <div
    class="bg-[#222] text-white w-32 place-items-center h-32 grid m-auto p-4"
  >
    <span class="text-3xl">Uber</span>
  </div>
  <h1 class="text-3xl mb-4 text-center">Registro {{tipo}}</h1>
  <input type="text" name="tipo" value="{{tipo}}" hidden />

  <input
    required
    placeholder="Nombre"
    type="text"
    name="nombre"
    class="input"
  />
  <input
    required
    placeholder="Correo"
    type="email"
    name="correo"
    class="input"
  />
  <input
    required
    placeholder="Clave"
    type="password"
    name="clave"
    class="input"
  />
  <input required placeholder="Confirmar Clave" type="password" class="input" />
  <button class="btn-primary">Registrarse</button>
  <a href="/login?tipo={{tipo}}" class="link-2">Ya tengo una cuenta</a>
</form>
{{#if error}}
  <p class="text-red-500 text-center">{{error}}</p>
{{/if}}

<script>
  //const form = document.getElementById("form") //form.onsubmit = (e)=>{ // e.
  //}
</script>