<form action="/registro" method="post">
    <input type='text' name='nombre' class='input'/>
    <input type="email" name='correo' class='input'>
    <input type="password" name='clave' class='input'>
    <input type="password" class='input'>
    <button>Registrarse</button>
    <a href="/login">Login</a>
</form>