<form
  class="center flex flex-col gap-2 w-1/5 shadow p-6 rounded-md bg-white dark:bg-[#222]"
  action="/registro"
  method="post"
>
  <h1 class="text-3xl mb-4">Registro {{tipo}}</h1>
  <input type="text" name="tipo" value="{{tipo}}" hidden />

  <input placeholder="Nombre" type="text" name="nombre" class="input" />
  <input placeholder="Correo" type="email" name="correo" class="input" />
  <input placeholder="Clave" type="password" name="clave" class="input" />
  <input placeholder="Confirmar Clave" type="password" class="input" />
  <button class="btn-primary">Registrarse</button>
  <a href="/login?{{tipo}}" class="link-2">Ya tengo una cuenta</a>
</form>