* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: contain;

  max-height: 550px;
}

main {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-image: linear-gradient(-25deg, #201f1f 65%, #f8f2f8 35%);
  display: flex;
  align-items: center;
}

.contenedor {
  background-color: #fff;
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.logo {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a {
  font-size: 22px;
  border-bottom: 2px solid transparent;
  margin-left: 40px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu a:hover {
  border-bottom: 2px solid #f2c968;
}

main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main .contenedor-img {
  max-width: 50%;
  margin: 60;
}

.contenedor-texto .titulo {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 60px;
  color: antiquewhite;
  margin: 60;
}

.contenedor-texto .Viaje {
  font-weight: bold;
  color: #3b82f6;
  font-style: normal;
}

.contenedor-texto p {
  margin-bottom: 40px;
  line-height: 36px;
}

.btn-link {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 100px;
  margin-right: 60px;
  text-decoration: none;
  background: #f2f2f2;
  margin: 60;
}
.btn-link2 {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 100px;
  margin-right: 10px;
  text-decoration: none;
  background: #f2f2f2;
}

.btn-link:hover,
.btn-link.activo,
.btn-link2:hover,
.btn-link2.activo {
  color: #fff;
  background: #3b82f6;
}

@media (prefers-color-scheme: dark) {
  .btn-link {
    color: #333;
  }
  .btn-link2 {
    color: #333;
  }
}
