@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #e9e9e9;
}

body::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 0.25rem;
  background-color: #3b82f6;
}

body::-webkit-scrollbar-track {
  width: 0.5rem;
  background-color: #e9e9e9;
}

@layer components {
  .btn-primary {
    @apply text-center self-stretch bg-[#222] my-2 p-2 text-white rounded-md  hover:scale-105 transition-all active:scale-95;
  }
  .link-black {
    @apply my-2 text-center self-stretch bg-gray-50 p-2 text-black rounded-md  hover:scale-105 transition-all active:scale-95;
  }
  .link {
    @apply text-xl hover:text-blue-600 transition-all;
  }

  .link-2 {
    @apply hover:text-blue-600 transition-all text-center border-b-2 border-white hover:border-blue-50 border-solid;
  }
  .input {
    @apply hover:scale-105 bg-gray-100 rounded dark:bg-gray-200 dark:text-gray-600 p-2;
  }

  .center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .custom-grid {
    @apply grid grid-cols-[repeat(auto-fit,minmax(24rem,1fr))];
  }
  .card {
    @apply rounded-sm shadow-md p-4 m-4 w-96 hover:shadow-lg;
  }
  .search-result {
    @apply p-4 border-2 border-solid border-gray-50 border-t-2;
  }
}
